* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

.nav-a {
  display: flex;
  justify-content: center;
  height: 100%;
}

.nav-banner {
  height: 100%;
  width: auto;
}

.home-input {
  height: 30px;
  width: 35%;
  border: 1px solid #ED1D24;
  margin: 10px 0 10px 0;
  font-size: .8em;
  padding-left: 5px;
}

.home-input-btn {
  height: 30px;
  width: 100px;
  background: #ED1D24;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.home-input-btn:hover {
  border: 1px solid #ED1D24;
  background: white;
  color: #ED1D24;
  height: 30px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.displayhero-div {
  z-index: 9;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  background: rgba(0, 0, 0, .6);
  height: 100vh;
  overflow: scroll;
  width: 100%;
}

.display-description {
  padding: 10px 50px
}

.display-stories {
  border: 1px solid #ED1D24;
  margin: 0 50px;
}

.footer {
  color: #ED1D24;
}